
video{
    display: block;
    width: 100%;
    margin-top: 8%;
    height: 10%;
    
}




/** best-services**/
.best-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.box{
    height: 750px;
    border: 1px solid lightgrey;
    width: 32%;
    text-align: center;
    margin-top: 50px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 15px;
}
.box-img{
    height: 500px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
#content{
    font-weight: 400;
    font-family: sans-serif;
    line-height: 28.8px;
    color: rgb(121, 127, 137);
    font-size: 16px;
    
}
h2{
    color:#ef6724;
    font-weight: 700;
    line-height: 28px;
    font-family: sans-serif;
    font-size: 24px;
}



.nav-bar{
    position: fixed;
    top: 0;
    left: 0; 
    height: 100px;
    width: 100%;
    z-index: 10;
    color: white;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home-logo{
    height: 70px;
    width: 170px;
    background-image: url("./images/logo.png");
    background-size: cover; 
}
.nav-options{
    height: 90px;
    width: 630px;
    display: flex;
    align-items: center;
}
ul a{
    color: black;
    text-decoration: none;
    margin-right: 70px;
    font-size: 1rem;
    font-weight: 548;  
}
ul a:hover{
    color: #ef6724;
    transition-delay: 140ms;
    transition-timing-function: ease-in;
}
.nav-contact{
    height: 40px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #ef6724;
}
.nav-contact a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    font-weight: 500;
    letter-spacing: 6px;
    font-size: 12px;
}
span i{
    margin-right: 10px;
}
.footpanel1{
    background-color: #ef6724;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family:'Lucida Sans', Geneva, Verdana, sans-serif; 
    letter-spacing: 1.5px;
}
.footpanel2{
    margin-top: 100px;
    height: 500px;
    width: 100%;
    background-color: #161c26;
    filter: opacity(95%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.foot{
    height: 400px;
    width: 23%;
    color: #c5d2dd;
    font-family:'Lucida Sans', Geneva, Verdana, sans-serif; 
}
#one{
    width: 100%;
    height: 100px;
    padding-left: 70px;
}
#two{
    width: 100%;
    height: 200px;
    font-size: 15px;
    line-height: 40px;
}
#three{
    display: flex;
    justify-content: space-evenly;
}
.menus{
    color: #c5d2dd;
}
.close{
    width: 100%;
    height: 352px;
}
.email-close,  .location-close, .phone-close{
    width: 100%;
    height: 115px;
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 27px;
    
    
}
.cls{
    color: #ef6724;
    font-size: 50px;
    padding-top: 1px;
    padding-right: 25px;
}
.foot-panel-last{
    background-color: #161c26;
    color: #c5d2dd;
    height: 80px;
    font-size: 1rem;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checked{
    color: #ef6724;
    font-size: small;
}

   
    
        


    
